<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>VaquitaApp - Inicio</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  
</head>
<body>
  <header>
    <div class="logo" title="VaquitaApp Logo">
      <img src="/images/lu.jpeg" alt="Logo VaquitaApp" />
      VaquitaApp
    </div>
    <a href="login" class = "btn-login">Iniciar Sesión</a>
  </header>

  <div>
    <h1>¡Bienvenidos a VaquitaApp!</h1>
    <h2>Registrate en la mejor red de Ganaderos Venezolanos</h2>
    </div>

  <main>
    
    <section class="concept">
      <p>"VaquitaApp: La plataforma que une ganaderos e instituciones ganaderas de Venezuela. Registra tu hierro, valida tu identidad y conéctate con una red confiable para fortalecer el sector ganadero de nuestro hermoso país."</p>
    </section>

    <aside>
      <ul>
        <a href="/PlantilladeRequisitos.pdf" target="_blank">
          <li>Requisitos</li>
        </a>
        <a href="/ListadeEstados.pdf" target="_blank">
          <li>Lista de Estados y Parroquias</li>
        </a>
      </ul>
      <img src="/images/m.jpeg" alt="Vaquita Cute">
    </aside>

  </main>

  <div class="ab-us">
    <a href="/SobreNosotros.pdf" target="_blank">
      <p>¿Quieres saber mas sobre nosotros?</p>
    </a>
  </div>

  <div class="logos-redes">

  </div>

  <footer>
     2025 VaquitaApp - Sistema de Registro de Ganaderos
  </footer>
</body>
</html>