<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¡Registro Exitoso!</title>
  <link rel="stylesheet" href="stylesheets/mensaje.css">
</head>
<body>
  <main>
    <div>
      <h1>¡Registro Exitoso!</h1>
      <h2>Muy linda opción, su hierro se ha registrado correctamente</h2>
    </div>
      <a href="imprimir_carnet.ejs">
        <button class="btn-imprimir">¡Imprima su Carnet Aqui!</button>
      </a>
  </main>
</body>
</html>