<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¡Registro Fallido!</title>
  <link rel="stylesheet" href="stylesheets/mensajee.css">
</head>
<body>
  <main>
    <div>
      <h1>¡Registro Fallido!</h1>
      <h2>Lo sentimos mucho, su diseño de hierro tiene parecido con los siguientes registros:</h2>
      <ol>
        <li>...</li>
        <li>...</li>
        <li>...</li>
      </ol>
    </div>
      <a href="registro_carnet.ejs">
        <button class="btn-volver">Volver al Registro</button>
      </a>
  </main>
</body>
</html>